.card{
  width: 400px;
  height: 400px;
background-color: #fff;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;

}

.card_img{
  width: fit-content;
  height: 200px;
}
.card_btn{
  border: 1px solid black;
  padding: 5px;


}
.card_btn:hover{
  
}